/* Elements */
html, body, article, div, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--family-body), sans-serif;
    font-weight: var(--weight-medium);
    font-size: var(--size-body-medium);
    color: var(--color-text-on-surface);
    background-color: var(--color-bg-surface-container-lowest);
    background-image: url('../../images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 1440px) {
    body {
        background-image: url('../../images/pattern-background-desktop.svg');
        background-size: 100% auto;
    }
}