@font-face {
    font-family: 'Red Hat Display';
    src: url('../../fonts/Red_Hat_Display/static/RedHatDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('../../fonts/Red_Hat_Display/static/RedHatDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Display';
    src: url('../../fonts/Red_Hat_Display/static/RedHatDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
